.slick-prev:before {
  color: rgb(80, 80, 80);
}
.slick-next:before {
  color: rgb(80, 80, 80);
}
.white:hover{
background-color: rgba(250, 172, 172, 0.406)
}
.timeswrapper{
  display:flex;
  align-content: center;
}
.timepicker {
  height: 25px;
  width: 17%;
  border-radius: 5px;
  color: white;
  background-color: rgb(244, 75, 75);
  margin: 10px;
  vertical-align: middle;
  font-size: 18px
}
.timepicker:hover{
  background-color: rgb(210, 64, 64);
}
.red{
  background-color: rgb(210, 64, 64);

}
